<ion-header>
  <ion-toolbar>
    <ion-title>C++ Type Conversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-card-content>
   
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p style="font-size:25px"><b>C++ Type Conversion</b></p>
<br>
<style>
p {
margin:20px;
}
</style>
</center>
<p>Implicit Type Conversion
<p>The type conversion that is done automatically done by the compiler is known as implicit type conversion. This type of conversion is also known as automatic conversion.


<p>C++ Explicit Conversion
<p>When the user manually changes data from one type to another, this is known as explicit conversion. This type of conversion is also known as type casting.

<p>There are three major ways in which we can use explicit conversion in C++. They are:

<p>C-style type casting (also known as cast notation)
<p>Function notation (also known as old C++ style type casting)
<p>Type conversion operators

<p>C-style Type Casting
<p>As the name suggests, this type of casting is favored by the C programming language. It is also known as cast notation.
<center>
<ion-button  color="primary" href="dashboard">Back to Dashboard</ion-button>
</center>
  </ion-card-content>
</ion-card>
</ion-content>
