<ion-header>
  <ion-toolbar>
    <ion-title>C++ Basic I/O</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  
  <ion-card-content>
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p style="font-size:25px"><b>
C++ Basic I/O</b></p>
<br>
<style>
p {
margin:20px;
}
</style>
 </center>

 
<p>The C++ standard libraries provide an extensive set of input/output capabilities which we will see in subsequent chapters. This chapter will discuss very basic and most common I/O operations required for C++ programming.</p>

<p>C++ I/O occurs in streams, which are sequences of bytes. If bytes flow from a device like a keyboard, a disk drive, or a network connection etc. to main memory, this is called input operation and if bytes flow from main memory to a device like a display screen, a printer, a disk drive, or a network connection, etc., this is called output operation.</p>

<center>
<ion-button  color="primary" href="dashboard">Back to Dashboard</ion-button>
</center>
  </ion-card-content>
</ion-card> 
</ion-content>
