<ion-header>
  <ion-toolbar>
    <ion-title>Login Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p><b>C++ MODULE APPLICATION</b></p>

<ion-item>
  <ion-label>Username:</ion-label>
  <ion-input style="border:1px solid #FFF;margin:20px" required name="username" id="username" [(ngModel)]="username"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Password:</ion-label>
  <ion-input type="password" style="border:1px solid #FFF;margin:20px" required name="password" id="password" [(ngModel)]="password"></ion-input>
</ion-item>

<ion-item>
<center>
<script>
function ab() {
alert();
}
</script>
<ion-button  color="primary" [disabled]="!username || !password" href="dashboard">Login</ion-button>
<ion-button  color="primary" href="register">Register</ion-button>
</center>
</ion-item>

</center>
</ion-content>
