<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p><b>C++ Introduction</b></p>

</center>
<ion-card href="one">
  <ion-card-header>
    <ion-card-title>C++ Variables and Literals</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card href="two">
  <ion-card-header>
    <ion-card-title>C++ Data Types</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card href="three">
  <ion-card-header>
    <ion-card-title>C++ Basic I/O</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card href="four">
  <ion-card-header>
    <ion-card-title>C++ Type Conversion</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card href="five">
  <ion-card-header>
    <ion-card-title>C++ Operators</ion-card-title>
  </ion-card-header>
</ion-card>


</ion-content>
