<ion-header>
  <ion-toolbar>
    <ion-title>C++ Data Types
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  
  <ion-card-content>
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p style="font-size:25px"><b>
Data types in C++ is mainly divided into three types: </b></p>
<br>
<style>
p {
margin:20px;
}
</style>
 </center>

<p>Primitive Data Types: These data types are built-in or predefined data types and can be used directly by the user to declare variables. example: int, char , float, bool etc. Primitive data types available in C++ are: </p>
<p>Integer</p>
<p>Character</p>
<p>Boolean</p>
<p>Floating Point</p>
<p>Double Floating Point</p>
<p>Valueless or Void</p>
<p>Wide Character</p>
<p>Derived Data Types: The data-types that are derived from the primitive or built-in datatypes are referred to as Derived Data Types. These can be of four types namely: </p>
<p>Function</p>
<p>Array</p>
<p>Pointer</p>
<p>Reference</p>
<p>Abstract or User-Defined Data Types: These data types are defined by user itself. Like, defining a class in C++ or a structure. C++ provides the following user-defined datatypes: </p>
<p>Class</p>
<p>Structure</p>
<p>Union</p>
<p>Enumeration</p>
<p>Typedef defined DataType</p>
<p>This article discusses primitive data types available in C++. </p>
 

<p>Integer: Keyword used for integer data types is int. Integers typically requires 4 bytes of memory space and ranges from -2147483648 to 2147483647. </p>
 
<p>Character: Character data type is used for storing characters. Keyword used for character data type is char. Characters typically requires 1 byte of memory space and ranges from -128 to 127 or 0 to 255. </p>
 
<p>Boolean: Boolean data type is used for storing boolean or logical values. A boolean variable can store either true or false. Keyword used for boolean data type is bool. </p>
 
<p>Floating Point: Floating Point data type is used for storing single precision floating point values or decimal values. Keyword used for floating point data type is float. Float variables typically requires 4 byte of memory space. </p>
 
<p>Double Floating Point: Double Floating Point data type is used for storing double precision floating point values or decimal values. Keyword used for double floating point data type is double. Double variables typically requires 8 byte of memory space. </p>
 
<p>void: Void means without any value. void datatype represents a valueless entity. Void data type is used for those function which does not returns a value. </p>
 
<p>Wide Character: Wide character data type is also a character data type but this data type has size greater than the normal 8-bit datatype. Represented by wchar_t. It is generally 2 or 4 bytes long. </p>
 
<center>
<ion-button  color="primary" href="dashboard">Back to Dashboard</ion-button>
</center>

  </ion-card-content>
</ion-card> 
</ion-content>
