<ion-header>
  <ion-toolbar>
    <ion-title>C++ Variables and Literals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-card-content>
   
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p style="font-size:25px"><b>C++ Variables and Literals</b></p>
<br>
<style>
p {
margin:20px;
}
</style>
</center>
<p>In programming, a variable is a container (storage area) to hold data.</p>

<p>To indicate the storage area, each variable should be given a unique name (identifier). For example,</p>

<p>int age = 14;</p>
<p>Here, age is a variable of the int data type, and we have assigned an integer value 14 to it.</p>

<p>Note: The int data type suggests that the variable can only hold integers. Similarly, we can use the double data type if we have to store decimals and exponentials.</p>

<p>We will learn about all the data types in detail in the next tutorial.</p>

<p>The value of a variable can be changed, hence the name variable.</p>

<p>int age = 14;   // age is 14</p>
<p>age = 17;       // age is 17</p>
<p>Rules for naming a variable</p>
<p>A variable name can only have alphabets, numbers, and the underscore _.</p>
<p>A variable name cannot begin with a number.</p>
<p>Variable names should not begin with an uppercase character.</p>
<p>A variable name cannot be a keyword. For example, int is a keyword that is used to denote integers.</p>
<p>A variable name can start with an underscore. However, it's not considered a good practice.</p>
<p>Note: We should try to give meaningful names to variables. For example, first_name is a better variable name than fn.</p>
<center>
<ion-button  color="primary" href="dashboard">Back to Dashboard</ion-button>
</center>
  </ion-card-content>
</ion-card>
</ion-content>
