<ion-header>
  <ion-toolbar>
    <ion-title>C++ Operators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-card-content>
   
<center>
<img src="assets/logo.png" style="width:30%">
<br>
<p style="font-size:25px"><b>
C++ Operators</b></p>
<br>
<style>
p {
margin:20px;
}
</style>
</center>
<p>In this tutorial, we will learn about the different types of operators in C++ with the help of examples. In programming, an operator is a symbol that operates on a value or a variable.

<p>Operators are symbols that perform operations on variables and values. For example, + is an operator used for addition, while - is an operator used for subtraction.

<p>Operators in C++ can be classified into 6 types:

<p>Arithmetic Operators
<p>Assignment Operators
<p>Relational Operators
<p>Logical Operators
<p>Bitwise Operators
<p>Other Operators
<center>
<ion-button  color="primary" href="dashboard">Back to Dashboard</ion-button>
</center>
  </ion-card-content>
</ion-card>
</ion-content>
